body {
    margin: 0;
    padding-top: 70px;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f8f8f8; /* Subtle background color */
    color: #333; /* Darker text for readability */
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
/* HOME PAGE */

/* ABOUT US */

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.about-left {
    flex: 1;
    text-align: left;
    padding: 0px 25px;
}

.about-left h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.about-left p {
    font-size: 1.125rem;
    line-height: 1.6;
    color: #666;
}

.about-right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-right img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

/* MENU */

.menu-container {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px; 
    background-color: #f8f8f8; 
    border-radius: 8px; 
}

.menu-header {
    text-align: center;
    font-size: 2rem;
    color: #333; 
    margin-bottom: 20px;
}

.menu-items {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
}


.menu-item-img {
    height: 200px;
    object-fit: cover; 
    width: 100%;
    border-radius: 8px;
}

/* REVIEWS */
.review-container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 50px 20px;
}

.review-header {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
    color: #111827;
}

.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;
    background-color: #F9FAFB;
    margin-bottom: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.review-content {
    max-width: 750px;
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    line-height: 1.5;
    color: #374151;
}

.review-credit {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #1F2937;
}

/* Footer */

footer {
    padding: 40px 0;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
}

.footer-container {
    background-color: #1F2937;
    color: #F9FAFB;
    padding: 40px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #FCD34D;
}

.footer-section p,
.footer-section a {
    font-size: 16px;
    color: #F9FAFB;
    line-height: 1.6;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #374151;
    margin-top: 40px;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
    color: #D1D5DB;
}



/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }
    
    .about-left, .about-right {
        width: 100%;
        padding: 0 15px;
    }

    .about-right img {
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .about-left h1 {
        font-size: 2rem;
    }
    
    .about-left p {
        font-size: 1rem;
    }
}

/* INVENTORY */

.inventory-title{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.inventory-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}

.error-message {
    font-size: 18px;
    color: #ff0000;
    text-align: center;
    margin-top: 20px;
}

.inventory-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inventory-item {
    display: flex;
    flex-direction: column; /* Stack the two portions vertically */
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 10px; /* Add space between elements */
}

.item-details {
    display: flex;
    flex-direction: row; /* Arrange details from left to right */
    align-items: center; /* Align items vertically in the center */
    gap: 10px; /* Add space between elements */
}

.item-details h3 {
    margin: 0 10px 0 0;
    flex-grow: 1; /* Allow the heading to grow and shrink */
}

.item-details div {
    margin: 0 10px;
    flex-grow: 1; /* Allow the divs to grow and shrink */
}

.item-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row; /* Arrange buttons from left to right */
    gap: 10px; /* Add space between buttons */
}

.item-buttons button {
    margin: 0 5px;
    flex-shrink: 0; /* Prevent buttons from shrinking */
}

.new-item-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 50%;
}

.new-item-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.new-item-form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.new-item-form button:hover {
    background-color: #0056b3;
}

.in-stock {
    background-color: #d4edda; /* Light green background for in stock */
}

.low-stock {
    background-color: #fff3cd; /* Light yellow background for low stock */
}

.out-of-stock {
    background-color: #ffcccc; /* Light red background for out of stock */
}